a_Uniq_tag1|http://url_to_your_prefered/radio1.m3u
a_Uniq_tag2|http://url_to_your_prefered/radio2.pls
a_Uniq_tag3|http://url_to_your_prefered/radio3.mp3
a-Uniq-tag4|http://url_to_your_prefered/radio4.aac
a-Uniq-tag5|http://url_to_your_prefered_radio5_stream
